<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand mx-4" href="https://www.jharkhand.gov.in/" target="_blank">
        <img
        src="https://www.jharkhand.gov.in/images/jhlogo55.PNG"
        height="75"
        alt="Jharkhand Govt Logo"
        loading="lazy"
      />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Navbar on the rightside -->
      <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">State Agency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">District</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Who's Who</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true"
            >Gallery</a
          >
        </li>
      </ul> -->
      <!-- Navbar on the rightside -->
      <!-- Navbar on the Center -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          <a class="nav-link" routerLink="/department">Department</a>
          <a class="nav-link" routerLink="/stateagency">State Agency</a>
          <a class="nav-link" routerLink="/district">District</a>
          <a class="nav-link" href="#">Who's Who</a>
          <a class="nav-link" routerLink="/gallery"
            >Gallery</a
          >
        </div>
      </div>
      <!-- Navbar on the Center -->

        <a routerLink="/login">
        <button type="button" class="btn btn-primary mx-4" >
          Login
          </button>
        </a>
      
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Type query"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
    </div>
  </nav>